* {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  body {
    color: #50514F;
    background-color: #FFB84D;
    font-family: 'Orbitron', cursive;
  
    &.dark-theme {
      color: #FFB84D;
      background-color: #50514F;
  
      a {
        color: #809fff;
      }
    }
  }
  
  a {
    color: #D56062;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    background-color: #15fa24;
  }
  
  .nav-bar {
    a {
      margin-right: 10px;
      text-decoration: none;
      color: #333;
      
      .dark-theme & {
        color: #333;
      }
    }
  }
  .btn-toggle {
    padding: 5px 10px;
    margin: 5px 5px 7px ;
    cursor: cell;
    font-family: 'Press Start 2P', cursive;
    background: #fff;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: 1px 2px 0px #333;

    &:active {
      box-shadow: 0px 1px 0px;
      transform: translateY(2px);
    }

    .dark-theme & {
      background: #444;
      color: #f0f0f0;
      border-color: #aaa;
      box-shadow: 2px 3px 0px #222;
    }
  }
  
  .wrapper {
    text-align: center;
    margin-top: 50px;
  
    .middle {
      display: inline-block;
  
      h1 {
        text-align: center;
      }
    }
  }
